<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>16号文</key>
	<string></string>
	<key>CCU</key>
	<string>checkClientUpdate.mo</string>
	<key>E金宝协议</key>
	<string></string>
	<key>E金宝收益</key>
	<string></string>
	<key>IdCardCheck</key>
	<string>IdCardCheck.mo</string>
	<key>Image</key>
	<string>Image.mo</string>
	<key>RURL</key>
	<string>https://m.eklb.cn/directbank</string>
	<key>accListQry</key>
	<string>accListQry.mo</string>
	<key>acpIsSign</key>
	<string>acpIsSign.mo</string>
	<key>acpSign</key>
	<string>acpSign.mo</string>
	<key>acpSignSms</key>
	<string>acpSignSms.mo</string>
	<key>acpUnSign</key>
	<string>acpUnSign.mo</string>
	<key>alreadyAccountList</key>
	<string>alreadyAccountList.mo</string>
	<key>appCustInfo</key>
	<string>appCustInfo.mo</string>
	<key>appFinanceBal</key>
	<string>appFinanceBal.mo</string>
	<key>appFinanceList</key>
	<string>appFinanceList.mo</string>
	<key>appMyList</key>
	<string>appMyList.mo</string>
	<key>areaActivityDetail</key>
	<string>areaActivityDetail.mo</string>
	<key>bankCredit</key>
	<string>bankCredit.mo</string>
	<key>bankDebit</key>
	<string>bankDebit.mo</string>
	<key>baseInfo</key>
	<string>KLDBbaseInfo.mo</string>
	<key>bigDepositBuy</key>
	<string>bigDepositBuy.mo</string>
	<key>bigDepositBuyCheck</key>
	<string>bigDepositBuyCheck.mo</string>
	<key>bigDepositBuyDetails</key>
	<string>bigDepositBuyDetails.mo</string>
	<key>bigDepositDraw</key>
	<string>bigDepositDraw.mo</string>
	<key>bigDepositHoldProduct</key>
	<string>bigDepositHoldProduct.mo</string>
	<key>bigDepositHoldProductDetail</key>
	<string>bigDepositHoldProductDetail.mo</string>
	<key>bigDepositProduct</key>
	<string>bigDepositProduct.mo</string>
	<key>bindAcct</key>
	<string>bindAcct.mo</string>
	<key>bindFaceCompare</key>
	<string>bindFaceCompare.mo</string>
	<key>bindfuelCard</key>
	<string>bindfuelCard.mo</string>
	<key>bringForwardRefund</key>
	<string>bringForwardRefund.mo</string>
	<key>cancelFuelCard</key>
	<string>cancelFuelCard.mo</string>
	<key>cancleAcct</key>
	<string>cancleAcct.mo</string>
	<key>cardActivated</key>
	<string>cardActivated.mo</string>
	<key>cardApply</key>
	<string>cardApply.mo</string>
	<key>chanelCodePay</key>
	<string>chanelCodePay.mo</string>
	<key>channelLimitQuery</key>
	<string>channelLimitQuery.mo</string>
	<key>cheackTicketStatus</key>
	<string>cheackTicketStatus.mo</string>
	<key>checkBC</key>
	<string>checkBankCard.mo</string>
	<key>checkPersonFace</key>
	<string>checkPersonFace.mo</string>
	<key>closePayFunction</key>
	<string>closePayFunction.mo</string>
	<key>closeQRcode</key>
	<string>closeQRcode.mo</string>
	<key>coreIOUInfo</key>
	<string>coreIOUInfo.mo</string>
	<key>coreRepayPlan</key>
	<string>coreRepayPlan.mo</string>
	<key>createOrder</key>
	<string>createOrder.mo</string>
	<key>creditCardApplySwitch</key>
	<string>creditCardApplySwitch.mo</string>
	<key>creditCardManage</key>
	<string>creditCardManage.mo</string>
	<key>creditCardOtpFlw</key>
	<string>creditCardOtpFlw.mo</string>
	<key>custLimitModify</key>
	<string>custLimitModify.mo</string>
	<key>customerForfeit</key>
	<string>customerForfeit.mo</string>
	<key>customerService</key>
	<string>customerService.do    </string>
	<key>customerSurverQuery</key>
	<string>customerSurverQuery.mo</string>
	<key>custormMessageUpdate</key>
	<string>custormMessageUpdate.mo</string>
	<key>custormRevocition</key>
	<string>custormRevocition.mo</string>
	<key>custormRiskSurveyGrade</key>
	<string>custormRiskSurveyGrade.mo</string>
	<key>dealPasswdWorkOrderQuery</key>
	<string>dealPasswdWorkOrderQuery.mo</string>
	<key>depositAllProduct</key>
	<string>depositAllProduct.mo</string>
	<key>dpositRecharge</key>
	<string>dpositRecharge.mo</string>
	<key>eAcctCancel</key>
	<string>eAcctCancel.mo</string>
	<key>ejbProfitList</key>
	<string>ejbProfitList.mo</string>
	<key>ejbQueryBal</key>
	<string>ejbQueryBal.mo</string>
	<key>ejbQueryProtocol</key>
	<string>ejbQueryProtocol.mo</string>
	<key>encryption</key>
	<string>encryption.mo</string>
	<key>entrustQuery</key>
	<string>entrustQuery.mo</string>
	<key>faceLoginPwd</key>
	<string>faceLoginPwd.mo</string>
	<key>faceRecognitionSwitch</key>
	<string>faceRecognitionSwitch.mo</string>
	<key>faceVideo</key>
	<string>faceVideo.mo</string>
	<key>faceVideoAuthentication</key>
	<string>faceVideoAuthentication.mo</string>
	<key>faceVideoStutas</key>
	<string>faceVideoStutas.mo</string>
	<key>faceVideoStutasQuery</key>
	<string>faceVideoStutasQuery.mo</string>
	<key>fillRegInfo</key>
	<string>fillRegInfo.mo</string>
	<key>financeAcctQuery</key>
	<string>financeAcctQuery.mo</string>
	<key>financeAnyWayFind</key>
	<string>financeAnyWayFind.mo</string>
	<key>financeBal</key>
	<string>financeBal.mo</string>
	<key>financeChechan</key>
	<string>financeChechan.mo</string>
	<key>financeClose</key>
	<string>financeClose.mo</string>
	<key>financeCustInfoQury</key>
	<string>financeCustInfoQury.mo</string>
	<key>financeDeal</key>
	<string>financeDeal.mo</string>
	<key>financeEtrustQuery</key>
	<string>financeEtrustQuery.mo</string>
	<key>financeOpen</key>
	<string>financeOpen.mo</string>
	<key>financePurchase</key>
	<string>financePurchaseNew.mo</string>
	<key>financeQueryAcct</key>
	<string>financeQueryAcct.mo</string>
	<key>financeQueryList</key>
	<string>financeQueryList.mo</string>
	<key>financeRankQuery</key>
	<string>financeRankQuery.mo</string>
	<key>financeRedeem</key>
	<string>financeRedeem.mo</string>
	<key>financeRemainAmountQuery</key>
	<string>financeRemainAmountQuery.mo</string>
	<key>financeRpCommit</key>
	<string>financeRpCommit.mo</string>
	<key>financeRpDown</key>
	<string>financeRpDown.mo</string>
	<key>fixDraw</key>
	<string>fixDraw.mo</string>
	<key>fixTranServ</key>
	<string>fixTranServ.mo</string>
	<key>fuelCardAreaQuery</key>
	<string>fuelCardAreaQuery.mo</string>
	<key>fuelCardInfoQuery</key>
	<string>fuelCardInfoQuery.mo</string>
	<key>fuelCardListQuery</key>
	<string>fuelCardListQuery.mo</string>
	<key>fuelCardRecharge</key>
	<string>fuelCardRecharge.mo</string>
	<key>fuelCardTranListQuery</key>
	<string>fuelCardTranListQuery.mo</string>
	<key>fuelFirmSwitch</key>
	<string>fuelFirmSwitch.mo</string>
	<key>fuelOwnFuRc</key>
	<string>fuelOwnFuRc.mo</string>
	<key>fuelRecharge</key>
	<string>fuelRecharge.mo</string>
	<key>fuelRechargeBuy</key>
	<string>fuelRechargeBuy.mo</string>
	<key>fuelRechargeFuBuy</key>
	<string>fuelRechargeFuBuy.mo</string>
	<key>fuelRechargeFuFlowQuery</key>
	<string>fuelRechargeFuFlowQuery.mo</string>
	<key>fuelRechargeFuOwn</key>
	<string>fuelRechargeFuOwn.mo</string>
	<key>fuelRechargeOwnFuInfo</key>
	<string>fuelRechargeOwnFuInfo.mo</string>
	<key>fuelRechargePay</key>
	<string>fuelRechargePay.mo</string>
	<key>fuelRechargeProfit</key>
	<string>fuelRechargeProfit.mo</string>
	<key>fuelTreasureFuInf</key>
	<string>fuelTreasureFuInf.mo</string>
	<key>fuelTreasureFuList</key>
	<string>fuelTreasureFuList.mo</string>
	<key>fuelcardotp</key>
	<string>requestNoteAuthCode.mo</string>
	<key>fundBuy</key>
	<string>fundBuy.mo</string>
	<key>fundHistoryQuery</key>
	<string>fundHistoryQuery.mo</string>
	<key>fundOut</key>
	<string>fundOut.mo</string>
	<key>fundTransition</key>
	<string>fundTransition.mo</string>
	<key>futureAccountList</key>
	<string>futureAccountList.mo</string>
	<key>gesturePassword</key>
	<string>gesturePassword.mo</string>
	<key>getLimit</key>
	<string>getLimit.mo</string>
	<key>getParam</key>
	<string>getParam.mo</string>
	<key>getPublicKeyUtil</key>
	<string>getPublicKeyUtil.mo</string>
	<key>getQRcode</key>
	<string>getQRcode.mo</string>
	<key>getTicketImg</key>
	<string>getTicketImg.mo</string>
	<key>getTyp3Info</key>
	<string>getTyp3Info.mo</string>
	<key>getsysTimemillis</key>
	<string>getSysTimeMillis.mo</string>
	<key>grantHandle</key>
	<string>grantHandle.mo</string>
	<key>hasNewCard</key>
	<string>hasNewCard.mo</string>
	<key>headImg</key>
	<string>headImg.mo</string>
	<key>klOlinePay</key>
	<string>klOlinePay.mo</string>
	<key>klOnline</key>
	<string>klOnline.mo</string>
	<key>klOnlineCharge</key>
	<string>klOnlineCharge.mo</string>
	<key>klPay</key>
	<string>klPay.mo</string>
	<key>klQRcodePasswordPay</key>
	<string>klQRcodePasswordPay.mo</string>
	<key>lifeInsurenceDo</key>
	<string>lifeInsurenceDo.mo</string>
	<key>lifeSpreadSheet</key>
	<string>lifeSpreadSheet.mo</string>
	<key>limitQuery</key>
	<string>limitQuery.mo</string>
	<key>listPersonalMsg</key>
	<string>listPersonalMsg.mo</string>
	<key>loadApplicationFlow</key>
	<string>loadApplicationFlow.mo</string>
	<key>loanFilleQuery</key>
	<string>loanFilleQuery.mo</string>
	<key>loanList</key>
	<string>loanList.mo</string>
	<key>loanMessageQuery</key>
	<string>loanMessageQuery.mo</string>
	<key>loanState</key>
	<string>loanState.mo</string>
	<key>loanUpFile</key>
	<string>loanUpFile.mo</string>
	<key>login</key>
	<string>login.mo</string>
	<key>logout</key>
	<string>logout.mo</string>
	<key>lprRatePrice</key>
	<string>lprRatePrice.mo</string>
	<key>menuInfoQuery</key>
	<string>menuInfoQuery.mo</string>
	<key>menuListQuery</key>
	<string>menuListQuery.mo</string>
	<key>modifCust</key>
	<string>KLDBmodifyCust.mo</string>
	<key>modifLoginPassword</key>
	<string>modifLoginPassword.mo</string>
	<key>modifMobileNo</key>
	<string>modifyMobileNo.mo</string>
	<key>modifTranPwd</key>
	<string>modifTranPwd.mo</string>
	<key>myFundList</key>
	<string>myFundList.mo</string>
	<key>myLoanListCollect</key>
	<string>myLoanListCollect.mo</string>
	<key>newProductindexList</key>
	<string>newProductindexList.mo</string>
	<key>nrtOpen</key>
	<string>nrtOpen.mo</string>
	<key>nrtOpenSms</key>
	<string>nrtOpenSms.mo</string>
	<key>openAccountVerifly</key>
	<string>openAccountVerifly.mo</string>
	<key>openPayFunction</key>
	<string>openPayFunction.mo</string>
	<key>orderDetail</key>
	<string>orderDetail.mo</string>
	<key>orderList</key>
	<string>orderList.mo</string>
	<key>orderRefund</key>
	<string>orderRefund.mo</string>
	<key>otp</key>
	<string>otp.mo</string>
	<key>otp0</key>
	<string>otp0.mo</string>
	<key>otp1</key>
	<string>otp1.mo</string>
	<key>p2bAttornRevoke</key>
	<string>p2bAttornRevoke.mo</string>
	<key>p2bCancel</key>
	<string>p2bCancel.mo</string>
	<key>p2bDetails</key>
	<string>p2bDetails.mo</string>
	<key>p2bDetailsZR</key>
	<string>p2bDetailsZR.mo</string>
	<key>p2bFindMyInvestment</key>
	<string>p2bFindMyInvestment.mo</string>
	<key>p2bPayment</key>
	<string>p2bPayment.mo</string>
	<key>p2bPaymentZR</key>
	<string>p2bPaymentZR.mo</string>
	<key>p2bProdBuy</key>
	<string>p2bProdBuy.mo</string>
	<key>p2bProdBuyZR</key>
	<string>p2bProdBuyZR.mo</string>
	<key>p2bQueryAccount</key>
	<string>p2bQueryAccount.mo</string>
	<key>p2bRankCommit</key>
	<string>p2bRankCommit.mo</string>
	<key>p2bRankQuery</key>
	<string>p2bRankQuery.mo</string>
	<key>p2bRevoke</key>
	<string>p2bRevoke.mo</string>
	<key>p2bRiskQuery</key>
	<string>p2bRiskQuery.mo</string>
	<key>p2bShowProduct</key>
	<string>p2bShowProduct.mo</string>
	<key>p2bShowTransferPro</key>
	<string>p2bShowTransferPro.mo</string>
	<key>p2bTransaction</key>
	<string>p2bTransaction.mo</string>
	<key>p2bTransactionDetail</key>
	<string>p2bTransactionDetail.mo</string>
	<key>p2bTransfer</key>
	<string>p2bTransfer.mo</string>
	<key>payCreditCard</key>
	<string>payCreditCard.mo</string>
	<key>periodPrdDetail</key>
	<string>periodPrdDetail.mo</string>
	<key>personUnReadMsg</key>
	<string>personUnReadMsg.mo</string>
	<key>piontDetail</key>
	<string>piontDetail.mo</string>
	<key>pointQuery</key>
	<string>pointQuery.mo</string>
	<key>pointToMoney</key>
	<string>pointToMoney.mo</string>
	<key>pointWareExchange</key>
	<string>pointWareExchange.mo</string>
	<key>pointWareQuery</key>
	<string>pointWareQuery.mo</string>
	<key>prdMarketQuery</key>
	<string>prdMarketQuery.mo</string>
	<key>proListQuery</key>
	<string>proListQuery.mo</string>
	<key>productIndexList</key>
	<string>productIndexList.mo</string>
	<key>pubMsg</key>
	<string>pubMsg.mo</string>
	<key>pushPhoneBank</key>
	<string>pushPhoneBank.mo</string>
	<key>queryAccountInfo</key>
	<string>queryAccountInfo.mo</string>
	<key>queryAcctTranDetail</key>
	<string>queryAcctTranDetail.mo</string>
	<key>queryActivatedCardList</key>
	<string>queryActivatedCardList.mo</string>
	<key>queryAllCrdList</key>
	<string>queryAllCrdList.mo</string>
	<key>queryAutoPay</key>
	<string>queryAutoPay.mo</string>
	<key>queryBankList</key>
	<string>queryBankList.mo</string>
	<key>queryBindedAcctBal</key>
	<string>queryBindedAcctBal.mo</string>
	<key>queryChangeList</key>
	<string>queryChangeList.mo</string>
	<key>queryChart</key>
	<string>queryChart.mo</string>
	<key>queryCrdApplyRate</key>
	<string>queryCrdApplyRate.mo</string>
	<key>queryCrdList</key>
	<string>queryCrdList.mo</string>
	<key>queryCreditCardPhone</key>
	<string>queryCreditCardPhone.mo</string>
	<key>queryCvv2</key>
	<string>queryCvv2.mo</string>
	<key>queryDpositFuelCard</key>
	<string>queryDpositFuelCard.mo</string>
	<key>queryDpositWithOutRead</key>
	<string>queryDpositWithOutRead.mo</string>
	<key>queryEAcctInfo</key>
	<string>queryEAcctInfo.mo</string>
	<key>queryFinanceTranList</key>
	<string>queryFinanceTranList.mo</string>
	<key>queryFixAcct</key>
	<string>queryFixAcct.mo</string>
	<key>queryFundMkDetail</key>
	<string>queryFundMkDetail.mo</string>
	<key>queryFundMkList</key>
	<string>queryFundMkList.mo</string>
	<key>queryIdCardImgSts</key>
	<string>queryIdCardImgSts.mo</string>
	<key>queryMobileBank</key>
	<string>queryMobileBank.mo</string>
	<key>queryMyLimit</key>
	<string>queryMyLimit.mo</string>
	<key>queryNoticeList</key>
	<string>queryNoticeList.mo</string>
	<key>queryPayCreditCard</key>
	<string>queryPayCreditCard.mo</string>
	<key>queryPayTypeBalance</key>
	<string>queryPayTypeBalance.mo</string>
	<key>queryPaystatus</key>
	<string>queryPaystatus.mo</string>
	<key>queryProInfo</key>
	<string>queryProInfo.mo</string>
	<key>queryProvinceCity</key>
	<string>queryProvinceCity.mo</string>
	<key>queryRealNameSts</key>
	<string>queryRealNameSts.mo</string>
	<key>queryTaCode</key>
	<string>queryTaCode.mo</string>
	<key>queryUrgentNotice</key>
	<string>queryUrgentNotice.mo</string>
	<key>queryUseVol</key>
	<string>queryUseVol.mo</string>
	<key>queryVideoStauts</key>
	<string>queryVideoStauts.mo</string>
	<key>realAuth</key>
	<string>realAuth.mo</string>
	<key>regularAmead</key>
	<string>regularAmead.mo</string>
	<key>regularDredge</key>
	<string>regularDredge.mo</string>
	<key>regularQuery</key>
	<string>regularQuery.mo</string>
	<key>regularShut</key>
	<string>regularShut.mo</string>
	<key>resetDealPwd</key>
	<string>resetDealPwd.mo</string>
	<key>resetMobileNo</key>
	<string>resetMobileNo.mo</string>
	<key>resetTranPwd</key>
	<string>resetTranPwd.mo</string>
	<key>restLoginPwd</key>
	<string>restLoginPwd.mo</string>
	<key>revocitionOrderQuery</key>
	<string>revocitionOrderQuery.mo</string>
	<key>riskCust</key>
	<string>riskCust.mo</string>
	<key>riskGradeMatchCkeck</key>
	<string>riskGradeMatchCkeck.mo</string>
	<key>riskQuesQuery</key>
	<string>riskQuesQuery.mo</string>
	<key>rrjIncomeDetail</key>
	<string>rrjIncomeDetail.mo</string>
	<key>rydApply</key>
	<string>rydApply.mo</string>
	<key>rydApplyQuery</key>
	<string>rydApplyQuery.mo</string>
	<key>rydChannel</key>
	<string>rydChannel.mo</string>
	<key>rydContractInfo</key>
	<string>rydContractInfo.mo</string>
	<key>rydLoanApply</key>
	<string>rydLoanApply.mo</string>
	<key>rydQuery</key>
	<string>rydQuery.mo</string>
	<key>rydSumCtrl</key>
	<string>rydSumCtrl.mo</string>
	<key>setAutoPay</key>
	<string>setAutoPay.mo</string>
	<key>setQueryPwd</key>
	<string>setQueryPwd.mo</string>
	<key>setTranPwd</key>
	<string>setTranPwd.mo</string>
	<key>smallSwitch</key>
	<string>smallSwitch.mo</string>
	<key>smsStatus</key>
	<string>smsStatus.mo</string>
	<key>submitUnbindApply</key>
	<string>submitUnbindApply.mo</string>
	<key>supportBank</key>
	<string>supportBank.mo</string>
	<key>syrApplyPDF</key>
	<string>syrApplyPDF.mo</string>
	<key>syrContractPDF</key>
	<string>syrContractPDF.mo</string>
	<key>syrCreditApplication</key>
	<string>syrCreditApplication.mo</string>
	<key>syrLoanInformationQuery</key>
	<string>syrLoanInformationQuery.mo</string>
	<key>syrLoanPDF</key>
	<string>syrLoanPDF.mo</string>
	<key>syrLoanTrial</key>
	<string>syrLoanTrial.mo</string>
	<key>syrQuotaSupportApply</key>
	<string>syrQuotaSupportApply.mo</string>
	<key>syrReimbursePlanInquiry</key>
	<string>syrReimbursePlanInquiry.mo</string>
	<key>syrRepayDetailQuery</key>
	<string>syrRepayDetailQuery.mo</string>
	<key>syrRepayPreciseQuery</key>
	<string>syrRepayPreciseQuery.mo</string>
	<key>syrRepayRequestInterface</key>
	<string>syrRepayRequestInterface.mo</string>
	<key>terInf</key>
	<string>terInf.mo</string>
	<key>terminalInfManage</key>
	<string>terminalInfManage.mo</string>
	<key>thirdAccount</key>
	<string>thirdAccount.mo</string>
	<key>tradedQuery</key>
	<string>tradedQuery.mo</string>
	<key>trafficInsurence</key>
	<string>trafficInsurence.mo</string>
	<key>tranCencel</key>
	<string>tranCencel.mo</string>
	<key>tranInfoQuery</key>
	<string>tranInfoQuery.mo</string>
	<key>updateProfitType</key>
	<string>updateProfitType.mo</string>
	<key>uploadImg</key>
	<string>uploadImg.mo</string>
	<key>validRegBindCard</key>
	<string>validRegBindCard.mo</string>
	<key>veriImg</key>
	<string>VerifyImage</string>
	<key>virtualCardQuery</key>
	<string>virtualCardQuery.mo</string>
	<key>yebAutoBuyMgr</key>
	<string>yebAutoBuyMgr.mo</string>
	<key>yebBuyStatus</key>
	<string>yebBuyStatus.mo</string>
	<key>yebContractMgr</key>
	<string>yebContractMgr.mo</string>
	<key>yebCurrentEntrust</key>
	<string>yebCurrentEntrust.mo</string>
	<key>yebHistoryEntrust</key>
	<string>yebHistoryEntrust.mo</string>
	<key>yebProfitList</key>
	<string>yebProfitList.mo</string>
	<key>yebPurchase</key>
	<string>yebPurchase.mo</string>
	<key>yebQueryBal</key>
	<string>yebQueryBal.mo</string>
	<key>yebQueryInfo</key>
	<string>yebQueryInfo.mo</string>
	<key>yebQueryProductInfo</key>
	<string>yebQueryProductInfo.mo</string>
	<key>yebQueryProtocol</key>
	<string>yebQueryProtocol.mo</string>
	<key>yebRedeem</key>
	<string>yebRedeem.mo</string>
	<key>yebTranList</key>
	<string>yebTrabList.mo</string>
	<key>yrtFuelCardMoney</key>
	<string>yrtFuelCardMoney.mo</string>
	<key>yrtMakeLoans</key>
	<string>yrtMakeLoans.mo</string>
	<key>yrtManualFuelCardRecharge</key>
	<string>yrtManualFuelCardRecharge.mo</string>
	<key>yrtMyLoanDetails</key>
	<string>yrtMyLoanDetails.mo</string>
	<key>yxdGetUuid</key>
	<string>yxdGetUuid.mo</string>
	<key>yxdQuery</key>
	<string>yxdQuery.mo</string>
	<key>zxdBaseRateQry</key>
	<string>zxdBaseRateQry.mo</string>
	<key>zxdLimitTrial</key>
	<string>zxdLimitTrial.mo</string>
	<key>zxdLoanApply</key>
	<string>zxdLoanApply.mo</string>
	<key>zxdLoanInfoQry</key>
	<string>zxdLoanInfoQry.mo</string>
	<key>zxdLoanRepay</key>
	<string>zxdLoanRepay.mo</string>
	<key>zxdMakeLoanApply</key>
	<string>zxdMakeLoanApply.mo</string>
	<key>zxdMyLoanQry</key>
	<string>zxdMyLoanQry.mo</string>
	<key>zxdRepayPlanQry</key>
	<string>zxdRepayPlanQry.mo</string>
	<key>zxdValidateFlw</key>
	<string>zxdValidateFlw.mo</string>
	<key>个人设置</key>
	<string></string>
	<key>个贷</key>
	<string></string>
	<key>保险超市</key>
	<string></string>
	<key>信用卡</key>
	<string></string>
	<key>其他</key>
	<string></string>
	<key>加油卡开关</key>
	<string></string>
	<key>加油卡（fuelCard）</key>
	<string></string>
	<key>宝宝类</key>
	<string></string>
	<key>提前还款限额判断</key>
	<string></string>
	<key>易享贷</key>
	<string></string>
	<key>油鑫宝余额</key>
	<string></string>
	<key>油鑫宝协议</key>
	<string></string>
	<key>油鑫宝收益</key>
	<string></string>
	<key>消息公告</key>
	<string></string>
	<key>理财产品</key>
	<string></string>
	<key>电子账户</key>
	<string></string>
	<key>登录注册忘记密码</key>
	<string></string>
	<key>积分</key>
	<string></string>
	<key>税e贷</key>
	<string></string>
	<key>绑定卡</key>
	<string></string>
	<key>贷款总额</key>
	<string></string>
</dict>
</plist>
